<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
        <tr data-th-each="profile : ${profiles}">
            <td data-th-text="${profile.id}"></td>
            <td data-th-text="${profile.nickname}"></td>
            <td data-th-text="${profile.hornlength}"></td>
            <td data-th-text="${profile.gender}"></td>
            <td data-th-text="${profile.attractedToGender}"></td>
            <td data-th-text="${profile.description}"></td>
            <td data-th-text="${profile.lastseen}"></td>

        </tr>
    </tbody>
</table>
